<h1>Home Page</h1>
<div>
    <form id="search-cities" name="city">
    <label for="city-name">City</label>
    <input type="text" id="city-name" name="city-name" />
    <input type="submit" value="Search City" />
    <!-- <img src="http://placekitten.com/g/25/25" alt="" class="loading"> -->
    </form>
    <br>
    <form id="submit-query">

    <input type="submit" value="Submit query" />
    <!-- <img src="http://placekitten.com/g/25/25" alt="" class="loading"> -->
    </form>
<div>

<div id="main">

<div>
